body {
    background-color: #F6F6F6;
}

.Metrics-container {
    padding: 20px;
}

.metrics-image-container {
    width: 100%;
    min-height: fit-content;
    margin-bottom: 30px;
}

.metrics-image {
    max-width: 1100px;
    object-fit: cover;
}

.metrics-title{
    text-align: left;
    margin-bottom: 5vh;
    font-weight: 600;
}