
.lp-navbar-container {
    padding-left: 5rem !important;  
    padding-right: 5rem !important; 
}

/* Style for EcoAds Brand */
.navbar-brand .eco {
    font-size: 2rem;
    color: green;
    font-weight: 700;
}

.navbar-brand .ads {
    font-size: 2rem;
    color: black;
    font-weight: 700;
}

.navbar {
    background-color: white;
}

/* Style for the Consultation link */
.navbar-nav .consultation-link {
    background-color: #407C5A; 
    color: white;
    padding: 9px 20px;
    border-radius: 23px; 
    font-size: 1rem; 
    display: inline-block; 
    min-width: 200px; 
    text-align: center; 
}

.navbar-nav .consultation-link:hover {
    background-color: #0a6e1b; 
    text-decoration: none;
}

.navbar-nav .nav-link {
    margin-right: 30px; /
}

.navbar {
    width: 100%;
}


@media (max-width: 1200px) {
    .lp-navbar-container {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
}

@media (max-width: 768px) {
    .lp-navbar-container {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .navbar-nav .nav-link {
        margin-right: 15px;
    }

    .navbar-brand .eco, .navbar-brand .ads {
        font-size: 1.5rem;
    }

    .navbar-nav .consultation-link {
        padding: 8px 15px;
        font-size: 0.9rem;
        min-width: 150px;
    }
}

@media (max-width: 576px) {
    .navbar {
        background-color: #fff;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-collapse {
        display: block;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }
}