body {
    background-color: #F6F6F6;
}

.Metrics-container {
    padding: 20px;
}

.metrics-image-container {
    width: 100%;
    min-height: fit-content;
    margin-bottom: 30px;
}

.metrics-image {
    max-width: 1100px;
    object-fit: cover;
}

/* Grid Layout for Metrics Cards */
.metrics-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%; 
}

/* Card Styles */
.metric-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%; 
    box-sizing: border-box; 
}

/* Header Section */
.metric-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.metric-card-title {
    display: flex;
    align-items: center;
}

.metric-card-title h3 {
    margin: 0;
    font-size: 1.2rem;
}

.exclamation-icon {
    margin-left: 8px;
    color: #ff9900;
}

.metric-card-percentage {
    font-size: 1.2rem;
    color: green;
}

/* Metric Section */
.metric-card-metric {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.metric-value {
    display: flex;
    align-items: center;
    color: green;
}

.arrow-icon {
    margin-right: 5px;
}

/* Statistic Section */
.metric-statistic {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

/* Mobile Responsive: Stack cards on small screens */
@media (max-width: 768px) {
    .metrics-card-container {
        grid-template-columns: repeat(2, 1fr); 
    }

    .metric-card-title h3 {
        font-size: 1rem; 
    }

    .metric-card-percentage {
        font-size: 1rem;
    }

    .metric-statistic {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .metrics-card-container {
        grid-template-columns: 1fr; 
    }

    .metric-card-title h3 {
        font-size: 0.9rem; 
    }

    .metric-card-percentage {
        font-size: 1rem;
    }

    .metric-statistic {
        font-size: 1.2rem;
    }
}

.metrics-image-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 100%;             
    position: relative;     
}

.large-image {
    display: block; 
}

.small-image {
    display: none; 
}

@media (max-width: 768px) {
    .large-image {
        display: none; 
    }

    .small-image {
        max-width: 300px;
        display: block; 
    }
}