.OC-overviewcards-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}

.OC-card {
    width: 25rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.OC-card-img-top {
    width: auto; 
    height: 100px; 
    object-fit: contain; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 auto; 
}

.OC-card-body {
    padding: 15px;
}

.OC-card-title {
    font-size: 1.25rem;
    font-weight: bold;
}
